#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App form {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.decks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 600px;
  margin: 0 auto;
}

.deck {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  height: 120px;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.deck button {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px;
}
